:root { 
--green_100:#bfd6bc; 
--orange_600_00:#f3890000; 
--white_A700_b7:#ffffffb7; 
--black_900_3f:#0000003f; 
--amber_800_db:#fd8f00db; 
--amber_800_00:#ff900000; 
--gray_50:#f5fef4; 
--black_900:#000000; 
--yellow_900:#e48913; 
--deep_purple_A201:#8d58ff; 
--deep_purple_A200:#835eee; 
--amber_800:#ff9000; 
--gray_600:#996767; 
--gray_500:#9db09b; 
--blue_800:#1762a7; 
--lime_900:#894d00; 
--bluegray_100:#d9d9d9; 
--orange_A200_00:#fda73800; 
--gray_200:#f2f1f1; 
--orange_300:#f1af59; 
--gray_100:#f3f1f1; 
--green_50_00:#def8dd00; 
--orange_50:#ffecd3; 
--blue_800_19:#1762a719; 
--white_A700:#ffffff; 
}