
 @font-face { font-style : normal; src: url("assets/fonts/PoppinsRegular.ttf"); font-family : "Poppins"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/ABeeZeeRegular.ttf"); font-family : "ABeeZee"; font-weight : 400;  }